<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE root [ 
<!ELEMENT HomePage ANY>
<!ATTLIST HomePage id ID #REQUIRED>
<!ELEMENT PageBase ANY>
<!ATTLIST PageBase id ID #REQUIRED>
<!ELEMENT ProductLandingPage ANY>
<!ATTLIST ProductLandingPage id ID #REQUIRED>
<!ELEMENT ProductPage ANY>
<!ATTLIST ProductPage id ID #REQUIRED>
<!ELEMENT SecondaryBase ANY>
<!ATTLIST SecondaryBase id ID #REQUIRED>

]>
<root id="-1">
  <HomePage id="1057" key="9bb3460b-2d4e-481a-b9b0-b23f020d9ff1" parentID="-1" level="1" creatorID="0" sortOrder="0" createDate="2016-02-03T19:10:25" updateDate="2016-02-03T19:10:25" nodeName="Keevil &amp; Keevil" urlName="keevil-keevil" path="-1,1057" isDoc="" nodeType="1050" creatorName="andy" writerName="andy" writerID="0" template="1052" nodeTypeAlias="HomePage">
    <ProductLandingPage id="1058" key="c2e76acb-7079-4cf1-b63b-5bff6daf9270" parentID="1057" level="2" creatorID="0" sortOrder="0" createDate="2016-02-03T19:10:37" updateDate="2016-02-03T19:10:37" nodeName="Game" urlName="game" path="-1,1057,1058" isDoc="" nodeType="1055" creatorName="andy" writerName="andy" writerID="0" template="1056" nodeTypeAlias="ProductLandingPage">
      <ProductPage id="1059" key="485ea2b3-dd77-427e-a939-0c7dbc01e381" parentID="1058" level="3" creatorID="0" sortOrder="0" createDate="2016-02-03T19:11:03" updateDate="2016-02-03T19:21:15" nodeName="Deer Joint (Test)" urlName="deer-joint-test" path="-1,1057,1058,1059" isDoc="" nodeType="1049" creatorName="andy" writerName="andy" writerID="0" template="1054" nodeTypeAlias="ProductPage">
        <product><![CDATA[e38200d5-4209-47bd-b4b5-16e9171b2de3]]></product>
      </ProductPage>
    </ProductLandingPage>
  </HomePage>
</root>